/*
 * style_gui.css
 * Contains CSS styles that applies to general UI (instead of data entries)
 */

/********************** Baseline **************************/
* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.i18n{ /* Dummy class to surpress warning, not actually styled */ }

html, body, div, th, td { margin: 0; padding: 0; }

html, body {
   width: 100%;
   background-color: #DDD;
   font: 14px sans-serif;
}

@media print {
   .no-print { display: none; }
}

th { text-align: left; }

figure { margin: 0; }

/********************** Custom classes **************************/

.fullw { width: 100%; }
.right { float: right; }
.left { float: left; }
.hide { display: none; }

.button {
   display: inline-block;
   padding: 0.5ex 1ex;
   border-radius: 1ex;
   border: 1px outset #888;
}

/** Action divs */
body > div {
   display: none;
   width: 100%;
}

/*********************** Page header styles *************************/

header {
   background-color: black;
   padding: 0.5em 1ex !important;
   text-align: center;
}

header h1 {
   display: inline-block;
   padding: 0;
   margin: 0;
   color: white;
   font-size: 1.5em;
   font-weight: bold;
}

header a {
   float: left;
   display: inline-block;
   padding: 0.25em 1ex;
   border-radius: 2ex;
   border: 1px outset #888;
   font-weight: bold;
   text-decoration: none;
   background: gold;
   cursor: pointer;
}

header h1 + a {
   float: right;
}

/******************* Page content ***********************/

body > div > * {
   padding: 12pt; /* If use em/ex, will varies by content font size and inconsistent */
}