/*
 * style_content.css
 * Contains CSS styles that applies to content data (instead of other UI)
 */

/********************** Overall **************************/
#detail {
   padding: 0 10px;
   font-size: 14px;
   background-color: #F8F8F8;
   border: 2px solid #666;
   border-radius: 10px;
   box-shadow: 1ex 1ex 2ex #888;
   line-height: 1.2em;
   max-width: 800px;
   margin: 0 auto;
}

#detail > * {
   padding: 5px 10px;
   margin: 0 -10px;
}

#detail > h1 {
   position: relative;
   font-size: 18px;
}

#detail .flavor {
   background-color: #CCC;
}

#detail .publishedIn {
   font-size: smaller;
   color: #888;
   text-align: right;
}

/********************* Common *************************/

#detail h1 .level {
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: right;
}

br + p:empty {
   border-bottom-left-radius: 10px; 
   border-bottom-right-radius: 10px;
   border-bottom: 2px solid #666;
   margin-bottom: 10px;
}

h3, p:empty + h1 {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;  
   border-top: 2px solid #666;
   margin-top: 10px;
}

/********************** Powers *************************/

#detail .atwillpower {
   background-color: #4F4;
}

#detail .encounterpower {
   background-color: #F44;
}

#detail .dailypower {
   background-color: #888;
}

/********************** Specifics **************************/

#detail .ritualstats {
   float: left;
   margin-right: 1em;
}

#detail .traplead {
   border-top: 1px solid #666;
   display: block;
}

#detail .trapblocktitle {
   border-top: 2px solid orange;
   border-left: 2px solid orange;
   margin: 8px 4px;
   padding: 0 2em 2px 4px;
   font-weight: bold;
}

#detail .trapblockbody  {
   display: block;
}