/*                                                                              ex: softtabstop=3 shiftwidth=3 tabstop=3 expandtab
 * style_data.css
 * Contains CSS styles that applies to content data (instead of other UI)
 */

/********************** Overall **************************/
#detail {
   padding: 0 10px;
   font-size: 90%;
   background-color: #F8F8F8;
   border: 2px solid #666;
   border-radius: 10px;
   box-shadow: 1ex 1ex 2ex #888;
   line-height: 1.2em;
   max-width: 800px;
   margin: 0 auto;
}

   #detail * {
      padding: 5px 10px;
      margin: 0 -10px;
   }

      #detail h1 {
         position: relative;
         font-size: 130%;
      }

      #detail ul {
         margin: 0 15px;
      }

      #detail li {
         padding-left: 0px;
      }

      /* First classed element will need border radius to match surrounding border. */
      #detail > *:first-child[class] { 
         border-radius: 7px 7px 0 0;
      }

      #detail .flavor, #detail .miflavor {
         background-color: #CCC;
      }

      #detail .publishedIn {
         font-size: smaller;
         color: #888;
         text-align: right;
      }

/********************* Common *************************/

#detail h1 .level, #detail h1 .milevel {
   position: absolute;
   top: 5px;
   right: 10px;
   text-align: right;
}

#detail h2 {
   margin-top: 10px;
   font-size: 100%;
}

/********************** Powers *************************/

#detail .atwillpower {
   background-color: #4F4;
}

#detail .encounterpower {
   background-color: #F44;
}

#detail .dailypower {
   background-color: #888;
}

#detail span.power {
   display: block;
   border: 1px solid grey;
   border-radius: 10px;
   padding: 0 10px;;
   margin: 10px;
}

#detail span.power h1 {
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

/********************** Items *************************/

#detail .player, #detail .miset {
   background-color: Gold;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

#detail .mihead {
   font-size: 100%;
   background-color: Gold;
}

#detail .ah1 {
   font-size: 130%;
   font-family: serif;
}

#detail .ah2 {
   font-size: 110%;
}

/********************** Other specifics **************************/

#detail .ritualstats {
   float: left;
   margin-right: 1em;
}

#detail .traplead {
   border-top: 1px solid #666;
   display: block;
}

#detail .trapblocktitle {
   border-top: 2px solid orange;
   border-left: 2px solid orange;
   margin: 8px 4px;
   padding: 0 2em 2px 4px;
   font-weight: bold;
}

#detail .trapblockbody  {
   display: block;
}

#detail .poison {
   background-color: #8B8;
}

#detail .monster {
   background-color: #BBF;
}

#detail .dm {
   background-color: #DBF;
}