/*
 * style_gui.css
 * Contains CSS styles that applies to general UI (instead of data entries)
 */

/********************** Baseline **************************/
* {
   box-sizing: border-box;
   }

/* Pattle: FFD700 - Black - Red */
html {
   background-color: #ED8;
   font: 14px sans-serif;
   }
   html, body {
      color: black;
      min-height: 100%;
      width: 100%;
      }
      html, body, div, th, td {
         margin: 0;
         padding: 0;
         }

/********************** Global UI styles **************************/

.i18n{ /* Dummy class to surpress warning, not actually styled */ }

a {
   color: darkred;
   text-decoration: none;
   }
   a:hover {
      color: red;
      text-decoration: underline;
      }

button, .button {
   background-color: gold;
   border-radius: 1ex;
   border: 1px outset #888;
   color: black;
   cursor: pointer;
   display: inline-block;
   padding: 0.5ex 1ex;
   text-decoration: none;
   }
   .button:hover, .button:focus, button:hover, button:focus {
      border-color: red !important;
      color: FireBrick !important; /* Override no result category gray out */
      cursor: pointer;
      opacity: 0.85 !important;
      }

th { text-align: left; }

figure { margin: 0; }

/** Search term highlight */
mark {
   background-color: yellow;
   padding: 0 !important;
   margin: 0 !important;
   }
   .no_highlight mark {
      background-color: transparent;
      color: inherit;
      }
   @media screen and ( -ms-high-contrast: active ) {
      mark {
         background-color: green;
         color: white;
         }
         .no_highlight mark {
            background-color: transparent;
            color: black;
            }
   }
   @media screen and ( -ms-high-contrast: white-on-black ) {
      mark {
         background-color: cyan;
         color: black;;
         }
         .no_highlight mark {
            background-color: transparent;
            color: white;
            }
   }
   @media screen and ( -ms-high-contrast: black-on-white ) {
      mark {
         background-color: purple;
         color: white;
         }
         .no_highlight mark {
            background-color: transparent;
            color: black;
            }
   }

/** Back / Forward button */
.btn_prev, .btn_next {
   border-radius: 1cm;
   font-size: 1cm;
   height: 2cm; width: 2cm;
   margin: auto;
   opacity: 0.3;
   position: fixed;
   top: 0; left: 1ex; bottom: 0; right: 1ex;
   z-index: 64; /* Above entry content box */
   }
   .btn_prev {
      margin-left: 0;
      }
   .btn_next {
      margin-right: 0;
      }
   @media (max-width: 12cm) {
      .btn_prev, .btn_next {
         border-radius: 0.5cm;
         font-size: 0.5cm;
         height: 1cm;
         width: 1cm;
         }
   }

#js_enable_pointer { /* Pointer for IE's "enable JavaScript". Ignor other browsers since they don't have easy way to disable JS now. */
   bottom: 44px;
   color: red;
   font: 96px 'Arial Unicode';
   left: 68%;
   left: calc(50% + 314px);
   position: fixed;
   transition: left 1s, bottom 1s;
   }
   @media ( max-width: 1023px ) {
      #js_enable_pointer {
         left: calc(50% + 200px);
         }
   }
   @media ( max-width: 800px ) {
      #js_enable_pointer {
         bottom: 70px;
         left: calc(50% + 150px);
         }
   }
/********************** Utility classes **************************/

.right { float: right; }
.left { float: left; }
.hide { display: none; }

@media print {
   .no-print { display: none; }
}

/*********************** Page header *************************/

header {
   background-color: black;
   height: 40px;
   overflow: visible;
   position: fixed;
   text-align: center;
   top: 0;
   width: 100%;
   z-index: 1;
   }
   header h1 {
      color: white;
      display: inline-block;
      font-size: 150%;
      font-weight: bold;
      margin: 0;
      max-width: calc( 100vw - 140px );
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      }

header button, header .button { /* Left header button */
   border-radius: 2ex;
   float: left;
   font-weight: bold;
   }

header h1 ~ button, header h1 ~ .button { /* Right header button */
   float: right;
   }

/******************* Page content ***********************/

body > section {
   background-color: rgba( 255, 224, 128, 0.5 );
   box-shadow: 0 0 200px 200px rgba( 255, 224, 128, 0.5 );
   display: none;
   margin-top: 40px;
   min-height: calc( 100vh - 40px );
   width: 100%;
   }

body > section > * {
   margin: 10px;
   }
   body > section > header {
      margin: 0 0 10px 0;
      padding: 0.5em 1ex;
      }

button.pressable {
   color: #666;
   opacity: 0.7;
   }
   button.pressable[aria-pressed="true"] {
      color: #008;
      opacity: 1;
      }
