/*
 * style_gui.css
 * Contains CSS styles that applies to general UI (instead of data entries)
 */

/********************** Baseline **************************/
* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

html {
   background-position: 0 40px; /* Skip header */
   background-color: #ED8;      /* For when background image is not available */
   background-size: 100% auto;  /* Fill width, repeat-y */
   font: 14px sans-serif;
}

html, body, div, th, td { margin: 0; padding: 0; }

html, body {
   width: 100%;
   min-height: 100%;
   /* Pattle: FFD700 - Black - Red */
}

/********************** Global UI styles **************************/

.i18n{ /* Dummy class to surpress warning, not actually styled */ }

a {
   color: darkred;
   text-decoration: none;
}

a:hover {
   color: red;
   text-decoration: underline;
}

button, .button {
   display: inline-block;
   padding: 0.5ex 1ex;
   border-radius: 1ex;
   border: 1px outset #888;
   background-color: gold;
   cursor: pointer;
   color: black;
   text-decoration: none;
}

.button:hover, .button:focus, button:hover, button:focus {
   color: FireBrick !important; /* Override no result category gray out */
   opacity: 1 !important;
   border-color: red !important;
   cursor: pointer;
}

th { text-align: left; }

figure { margin: 0; }

/** Search term highlight */
.highlight {
   background-color: yellow;
   padding: 0 !important;
   margin: 0 !important;
}

.highlight.disabled {
   background-color: transparent;
}

/** Back / Forward button */
.btn_prev, .btn_next {
   position: fixed;
   margin: auto;
   top: 0; left: 1ex; bottom: 0; right: 1ex;
   height: 2cm; width: 2cm;
   border-radius: 1cm;
   font-size: 1cm;
   opacity: 0.3;
}
@media (max-width: 12cm) {
   .btn_prev, .btn_next {
      height: 1cm; width: 1cm;
      border-radius: 0.5cm;
      font-size: 0.5cm;
   }
}
.btn_prev {
   margin-left: 0;
}
.btn_next {
   margin-right: 0;
}

/********************** Utility classes **************************/

.right { float: right; }
.left { float: left; }
.hide { display: none; }
.red { color: red; }

@media print {
   .no-print { display: none; }
}

/*********************** Page header *************************/

header {
   position: fixed;
   top: 0;
   width: 100%;
   height: 40px;
   background-color: black;
   text-align: center;
   padding: 0.5em 1ex !important;
   overflow: visible;
   z-index: 1;
}

header h1 {
   display: inline-block;
   padding: 0;
   margin: 0;
   color: white;
   font-size: 150%;
   font-weight: bold;
}

header button, header .button { /* Left header button */
   float: left;
   border-radius: 2ex;
   font-weight: bold;
}

header h1 ~ button, header h1 ~ .button { /* Right header button */
   float: right;
}

/******************* Page content ***********************/

body > section {
   display: none;
   min-height: calc( 100vh - 40px );
   width: 100%;
   margin-top: 40px;
   background-color: rgba( 255, 224, 128, 0.5 );
   box-shadow: 0 0 200px 200px rgba( 255, 224, 128, 0.5 );
}

body > section > * {
   padding: 10px; /* If use em/ex, will varies by content font size and inconsistent */
}

button.pressable {
   color: darkgrey;
   opacity: 0.7;
}

button.pressable[aria-pressed="true"] {
   color: black;
   opacity: 1;
}

input[placeholder=Group] ,
input[placeholder=Level] ,
input[placeholder=Power\ Source] ,
input[placeholder=Rarity] ,
input[placeholder=Size] {
   width: 80px;
}

input[placeholder=Action] ,
input[placeholder=Alignment] ,
input[placeholder=Campaign] ,
input[placeholder=Category] ,
input[placeholder=Cost] ,
input[placeholder=Frequency] ,
input[placeholder=Price] ,
input[placeholder=Role] ,
input[placeholder=Tier] {
   width: 120px;
}

input[placeholder=Type] {
   width: 140px;
}