/*
 * style.css
 */

* {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.i18n{ /* Dummy class to surpress warning, not actually styled */ }

html, body, div, th, td { margin: 0; padding: 0; }

html, body {
   width: 100%;
   background-color: #DDD;
}

.fullw { width: 100%; }
.right { float: right; }
.left { float: left; }
.hide { display: none; }

@media print {
   .no-print { display: none; }
}

th { text-align: left; }

/** Action divs */
body > div[id^="action_"] {
   display: none;
   width: 100%;
   padding: 1em;
}

.button {
   display: inline-block;
   padding: 0.5ex 1ex;
   border-radius: 1ex;
   border: 1px outset #888;
}